/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', 'arial', 'helvetica'; }

.help_border {
  border: 1px solid orange; }

.whole_width {
  width: 100%; }

.main_width {
  width: 1050px; }

.main_cyan {
  color: #27c7ab; }

.main_white {
  color: white; }

.center {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

header {
  position: relative;
  height: 41px;
  min-width: 1050px;
  background-color: black;
  font-weight: bold; }

.row_header {
  font-size: 16px; }
  .row_header a {
    text-decoration: none;
    color: white; }
  .row_header span {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px; }

.logo_header {
  margin-top: 15px; }

nav {
  margin-top: 15px; }
  nav a:hover {
    color: #27c7ab; }

.li2 {
  margin-left: 53px;
  margin-right: 39px; }

.sec1 {
  overflow: hidden;
  height: 505px;
  min-width: 1050px;
  background: linear-gradient(to bottom, white 0%, whitesmoke 47%, #c9ccd3 100%); }
  .sec1 .sec1_box {
    height: 337px;
    margin-top: 127px; }

.black_chair {
  width: 470px;
  height: 337px;
  background: url("../images/black_chair.png");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: center; }

.text_sit {
  margin-left: 30px;
  margin-top: 20px; }

.sit_chair {
  width: 430px;
  height: 337px;
  overflow: hidden;
  font-size: 40px; }
  .sit_chair h1 {
    float: left; }
  .sit_chair h2 {
    float: left;
    font-weight: bold;
    color: #27c7ab;
    margin-left: 13px;
    margin-right: 13px; }

.text_chair {
  display: block;
  margin-top: 30px; }
  .text_chair p {
    font-size: 14px;
    margin-top: 90px;
    line-height: 25px;
    text-align: center; }

.button {
  margin-top: 50px;
  margin-left: 80px; }
  .button a {
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    padding-left: 45px;
    padding-right: 34px;
    background-color: #27c7ab;
    color: white;
    border-radius: 6px 6px 6px 6px; }

.sec2 {
  overflow: hidden;
  height: 352px;
  display: flex;
  justify-content: space-between; }

.clair {
  background-image: url("../images/box1_img.jpg"); }

.marg {
  background-image: url("../images/box2_img.jpg"); }

.sec3 {
  overflow: hidden;
  height: 725px;
  min-width: 1050px;
  background-color: #f1f1f1; }

.badgesBox {
  height: 543px;
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.circle_price h1 {
  font-size: 45px;
  float: left; }
  .circle_price h1 p {
    font-size: 16px; }

.priceRow1 {
  display: flex;
  justify-content: center; }

.priceRow2 {
  display: flex;
  justify-content: center;
  margin-top: 10px; }

.zak_dow {
  border-top: 2px solid white;
  margin-top: 35px; }

.dolacz {
  margin-left: 100px;
  display: flex;
  vertical-align: bottom; }
  .dolacz a {
    text-decoration: none;
    color: white; }

.dol1 {
  margin-top: 110px; }

.dol2 {
  margin-top: 67px; }

.dol3 {
  margin-top: 24px; }

.badge:hover {
  background-color: #27c7ab;
  border: 2px solid #27c7ab; }
  .badge:hover .circle_out {
    background-color: #27c7ab;
    border: #27c7ab; }
  .badge:hover .circle_in {
    background-color: #f9f9f9; }
  .badge:hover .badge_name {
    color: white; }
  .badge:hover .circle_price {
    background-color: #f9f9f9;
    border: #f9f9f9;
    color: #27c7ab; }
  .badge:hover .zak_dow {
    background-color: white; }
  .badge:hover .serwis {
    background-color: #f1f1f1; }
  .badge:hover .gwarancja {
    background-color: white; }
  .badge:hover .porady {
    background-color: #f1f1f1; }
  .badge:hover a {
    background-color: white;
    color: #27c7ab;
    font-weight: 500; }

.sec4 {
  overflow: hidden;
  height: 654px; }

.kontakt {
  margin-bottom: 46px; }

form {
  display: flex;
  justify-content: space-between; }

.input_box_l {
  position: relative;
  width: 633px;
  height: 400px; }

input {
  width: 633px;
  height: 66px;
  font-family: 'Raleway';
  font-size: 33px;
  border: 1px solid #a3e2d7;
  margin-bottom: 26px; }

input[type="textarea"] {
  height: 189px; }

::-webkit-input-placeholder {
  font-family: 'Raleway';
  font-size: 33px;
  font-weight: 100; }

:-moz-placeholder {
  /* older Firefox*/
  font-family: 'Raleway';
  font-size: 33px;
  font-weight: 100; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Raleway';
  font-size: 33px;
  font-weight: 100; }

:-ms-input-placeholder {
  font-family: 'Raleway';
  font-size: 33px;
  font-weight: 100; }

.input_box_r {
  width: 359px;
  height: 400px; }

.red_chair {
  width: 264px;
  height: 210px;
  margin-left: 10px;
  margin-top: -22px;
  background-image: url("../images/red_chair.png");
  background-position: top; }

.checkbox_box {
  height: 90px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }
  .checkbox_box input {
    float: left; }
  .checkbox_box p {
    float: left;
    margin-top: 16px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 300;
    color: #cacaca; }

input[type="checkbox"] {
  width: 48px;
  color: 27c7ab; }

.send {
  display: flex;
  justify-content: center;
  background-color: #24baa0;
  font-size: 34px;
  font-weight: bold;
  border-radius: 7px 7px 7px 7px; }
  .send a {
    text-decoration: none;
    color: white;
    padding: 20px;
    padding-left: 115px;
    padding-right: 115px; }

/* FOOTER css */
footer {
  position: relative;
  top: 55px;
  display: flex;
  justify-content: space-between;
  color: #9b9b9b; }

.footer_left {
  width: 633px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5mm; }
  .footer_left p {
    margin-top: 15px; }

.footer_right {
  width: 359px;
  display: flex;
  justify-content: space-between;
  font-size: 20px; }
  .footer_right p {
    margin-top: 15px;
    font-weight: 500; }
  .footer_right span {
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px; }
  .footer_right a {
    text-decoration: none;
    color: #9b9b9b; }

.clair, .marg {
  width: 334px;
  height: 227px;
  margin-top: 27px; }

.transparent {
  width: 334px;
  height: 62px;
  margin-top: 151px;
  background-color: rgba(255, 255, 255, 0.4); }

.inputs {
  width: 334px;
  height: 254px;
  margin-top: 27px;
  border: 1px solid #dcdcdc; }

.textBox {
  position: absolute;
  width: 138px;
  height: 26p;
  margin-left: 15px;
  margin-top: 15px;
  border-bottom: 7px solid #27c7ab;
  font-weight: bold; }

.lorem {
  position: absolute;
  line-height: 20px;
  width: 300px;
  margin: 15px;
  margin-top: 60px; }

.cennik, .kontakt {
  width: 320px;
  height: 36px;
  margin-top: 47px;
  font-size: 22px;
  color: #575757;
  border-bottom: 7px solid #27c7ab; }

.badge {
  float: left;
  width: 326px;
  height: 497px;
  background-color: #f9f9f9;
  border: 2px solid #d6d5d5; }

.circle_out {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  width: 53px;
  height: 53px;
  margin-top: -37px;
  background-color: white;
  border: 2px solid #d6d5d5;
  border-radius: 50%; }

.circle_in {
  width: 27px;
  height: 27px;
  background-color: #d6d5d5;
  border-radius: 50%; }

.badge_name {
  width: 326px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  font-size: 26px;
  color: #27c7ab; }

.circle_price {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  color: #d6d5d5;
  width: 125px;
  height: 125px;
  margin-top: 70px;
  background-color: white;
  border: 2px solid #d6d5d5;
  border-radius: 50%; }

.zak_dow, .gwarancja {
  position: relative;
  width: 322px;
  height: 43px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #939393;
  background-color: #e4e4e4; }

.serwis, .porady {
  position: relative;
  width: 322px;
  height: 43px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808080;
  background-color: #f1f1f1; }

.dolacz a {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: white;
  background-color: #27c7ab;
  border-radius: 7px; }
