.sec2 {
    overflow: hidden;
    height: 352px;
    display: flex;
    justify-content: space-between;  
}

.clair {
    @extend %clair_marg;
    background-image: url('../images/box1_img.jpg');
}

.marg {
    @extend %clair_marg;
    background-image: url('../images/box2_img.jpg');
}

.inputs {
    @extend %inputs;
}

.transparent {
    @extend %trans;
}

.textBox {
    @extend %textBox;
}

.lorem {
    @extend %lorems;
}