.sec4 {
    overflow: hidden;
    height: 654px;
}

.kontakt {
    @extend %cennik_kontakt;
    margin-bottom: 46px;
}

form {
    display: flex;
    justify-content: space-between;
}

.input_box_l {
    position: relative;
    width: 633px;
    height: 400px;
}

input {
    width: 633px;
    height: 66px;
    font-family: 'Raleway';
    font-size: 33px;
    border: 1px solid #a3e2d7;
    margin-bottom: 26px;
}

input[type="textarea"] {
    height: 189px;
}

::-webkit-input-placeholder {
    font-family: 'Raleway';
    font-size: 33px;
    font-weight: 100;
}

:-moz-placeholder { /* older Firefox*/
    font-family: 'Raleway';
    font-size: 33px;
    font-weight: 100;
}

::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Raleway';
    font-size: 33px;
    font-weight: 100;
} 

:-ms-input-placeholder {
    font-family: 'Raleway';
    font-size: 33px;
    font-weight: 100;
}

.input_box_r {
    width: 359px;
    height: 400px;
}

.red_chair {
    width: 264px;
    height: 210px;
    margin-left: 10px;
    margin-top: -22px;
    background-image: url('../images/red_chair.png');
    background-position: top;  
}

.checkbox_box {
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    input {
        float: left;
    }
    p {
        float: left;
        margin-top: 16px;
        margin-left: 5px;
        font-size: 20px;
        font-weight: 300;
        color: #cacaca;
    }
}

.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

input[type="checkbox"] {
    width: 48px;
    color: 27c7ab;
}

.send {
    display: flex;
    justify-content: center;
    background-color: #24baa0;
    font-size: 34px;
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
    a {
        text-decoration: none;
        color: white;
        padding: 20px;
        padding-left: 115px;
        padding-right: 115px;
    }
}

/* FOOTER css */

footer {
    position: relative;
    top: 55px;
    display: flex;
    justify-content: space-between;
    color: #9b9b9b;
}

.footer_left {
    width: 633px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5mm;
    p {
        margin-top: 15px;
    }
}

.footer_right {
    width: 359px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    p {
        margin-top: 15px;
        font-weight: 500;
    }
    span {
        font-weight: 700;
        margin-left: 5px;
        margin-right: 5px;
    }
    a {
        text-decoration: none;
        color: #9b9b9b;
    }
}


