header {
    position: relative;
    height: 41px;
    min-width: 1050px;
    background-color: black;
    font-weight: bold;
}

.row_header {
    font-size: 16px;
    a {
        text-decoration: none;
        color: white;
    }
    span {
        font-weight: bold;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.logo_header {
    margin-top: 15px;
}

nav {
    margin-top: 15px;
    a:hover {
        color: #27c7ab;
    }
}

.li2 {
    margin-left: 18px;
    margin-right: 39px;
}

.js_menu {
    position: absolute;
    display: none;
    width: 120px;
    height: 96px;
    margin-top: 20px;
    margin-left: -15px;
    background-color: black;
    font-weight: 400;
    padding-top: 15px;
    padding-left: 10px;
    li {
        margin-bottom: 10px;
    }
}

.triangle {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: 38px;
    top: -5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: black;
}


