body {
    font-family: 'Raleway', 'arial', 'helvetica';
}

.help_border {border:1px solid orange;}

.whole_width {width:100%;}

.main_width {width:1050px;}

.main_cyan {color:#27c7ab;}

.main_white {color: white;}

.center {margin:0 auto;}

.left {float: left;}

.right {float: right;}